.card {
    padding: 10px 300px;
    z-index: 10;
    position: relative;
    width: fit-content;
    background-color: rgba(245, 243, 239, 0.25); 
    margin: auto auto 30px auto;
    bottom: -50px;
    border-radius: 10px;
}


.card h2 {
    text-align: center;
    color: #FFFF;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
}