.footer {
    background-color: #A67F5B;
    padding: 40px 20px 20px;
    color: #ffffff;
    font-family: 'Lora', serif;
    position: relative;
    text-align: center;
}

.footerImage {
    margin-bottom: 30px;
}

.footerImage img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.footerColumns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    text-align: left;
    margin-bottom: 30px;
}

.column {
    width: 250px;
    min-width: 200px;
    padding: 10px;
}

.column p {
    color: white;
}

.columnTitle {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.icon {
    margin-right: 8px;
}

.linkList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: #ffffff;
    text-decoration: none;
    line-height: 1.8;
    font-size: 16px;
}

.link:hover {
    text-decoration: underline;
    color: #f1f1f1;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.socials a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: #ffe2d6;
}

.credits {
    margin-top: 20px;
    font-size: 14px;
    color: #f5f5f5;
}

.credits p {
    text-align: center;
    margin-top: 20px;
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .footerColumns {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .column {
        width: 100%;
        max-width: 300px;
    }

    .socials {
        justify-content: center;
    }
}
