.registerContainer {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/carrouselHome/spa2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    padding: 3.5rem;
}

.registerCard {
    background-color: rgba(249, 249, 246, 0.3);
    padding: 3rem 4rem;
    border-radius: 1rem;
    max-width: 600px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.title {
    color: #F9F9F6;
    margin-bottom: 2rem;
    font-weight: lighter;
    font-size: 28px;
}

.inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #F9F9F6;
    border-radius: 3px;
    padding: 0.5rem;
    background-color: transparent;
}

.inputGroup input {
    border: none;
    background: transparent;
    outline: none;
    color: #F9F9F6;
    flex: 1;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
}

.inputGroup input::placeholder {
    color: #F9F9F6;
    opacity: 0.8;
}

.icon {
    color: #F9F9F6;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.submitBtn {
    background-color: #F9F9F6;
    color: #222;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}

.submitBtn:hover {
    background-color: #e6e6e6;
}

.backBtn {
    margin-top: 1rem;
    background-color: transparent;
    color: #F9F9F6;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: relative;
    text-decoration: none;
    border: none;
    transition: color 0.3s ease;
}

.backBtn:link,
.backBtn:visited {
    color: #F9F9F6;
}

.backBtn::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #007b5e;
    transition: width 0.3s ease;
}

.backBtn:hover {
    color: #ffffff;
}

.backBtn:hover::after {
    width: 100%;
}


.iconBack {
    font-size: 0.8rem;
}

.error {
    color: #ffcccc;
    margin-top: 1rem;
    font-size: 0.95rem;
}

.success {
    color: #ccffcc;
    margin-top: 1rem;
    font-size: 0.95rem;
}
