.loginContainer {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Overlay oscuro */
        url('../assets/img/carrousel_home3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    overflow: hidden; /* Elimina el scroll */
}

.loginCard {
    background-color: rgba(249, 249, 246, 0.4);
    padding: 2.5rem 3rem; /* Ajuste en padding para que se ajuste mejor */
    border-radius: 1rem;
    max-width: 500px; /* Reducir el max-width para que se ajuste mejor */
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden; /* Evita que el contenido se desborde */
}

.title {
    color: #F9F9F6;
    margin-bottom: 1.5rem; /* Ajuste en el margen inferior */
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
    font-size: 24px; /* Ajuste en el tamaño de la fuente */
}

.subtitle {
    color: #F9F9F6;
    font-size: 14px;
    margin-bottom: 1.5rem; /* Espaciado para el subtítulo */
}

.input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #F9F9F6;
    background: transparent;
    color: #F9F9F6;
    border-radius: 3px;
    font-size: 1rem;
}

.input::placeholder {
    color: #F9F9F6;
    opacity: 0.8;
    font-family: 'Playfair Display', serif;
}

.submitBtn {
    background-color: #F9F9F6;
    color: #222;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}


.header {
    text-align: center;
    margin-bottom: 2rem; /* Ajuste en el margen inferior */
    margin-left: -2rem;
}

.titleLogo {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9F9F6;
    gap: 3.5rem;
}

.left,
.right {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.logo {
    width: 110px;
    height: 110px;
}

.subtext {
    font-size: 14px;
    color: #F9F9F6;
    text-align: center;
    margin-top: 1rem;
    margin-left: 3rem;
}

.linksRow {
    display: flex;
    justify-content: center; /* Centrar los enlaces */
    align-items: center;
    margin: 1rem 0;
    font-size: 0.9rem;
}

.linkLeft a,
.linkRight a {
    color: #F9F9F6;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}
