.heroServices {
    background-size: cover;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    padding: 4rem 2rem;
    align-items: center;
}

.servicesContainer {
    width: 100%;
    height: 100%;
    background-color: #4A646C;
    padding: 0px 20px; /* Espaciado alrededor del bloque */
}

.servicesContainerT {
    background-color: #4E3F36;
    padding: 60px 30px;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px); /* Opcional: efecto de suavidad tipo vidrio */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Opcional: borde fino */
    
}

.srvText {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: -20px;
    color: #F5F3EF;
}

.srvTitle {
    display: flex;
    justify-content: center;
    z-index: 2;
    position: relative;
}
